<app-navbar></app-navbar>
<div class="container">
	<div class="w3-container w3-black w3-padding-32">
  <h1>Add Books</h1>
  <p>Trading or Selling your book to save invalueable books</p>
</div>

<!-- Footer -->
<footer class="w3-padding-64 w3-light-grey w3-small w3-center" id="footer">
  <div class="w3-row-padding">
    <div class="w3-col s8">
      <h4>New Book</h4>
      <form action="/action_page.php" target="_blank">
        <p>
          <input class="w3-input w3-border" type="text" placeholder="Your Book's title" name="title" required>
        </p>
        <p><select name="type" id="type" placeholder="Type of book" class="form-control w3-input w3-border"  required>

            <option value="novel">Novel</option>
            <option value="drama">Drama</option>
            <option value="selfhepl">Self help</option>
            <option value="horror">Horror</option>
            <option value="comics">comics</option>
            <option value="art">Art</option>
            <option value="dictionaries">Dictionaries</option>
            <option value="religion">Religion</option>
            
        </select>
        </p>
        <p>
          <input class="w3-input w3-border" type="text" placeholder="Status" name="Status" required>
        </p>
        <p>
          <input class="w3-input w3-border" type="text" placeholder="Decription" name="Decription" required>
        </p>
        <p>
          <input class="w3-input w3-border" type="text" placeholder="address" name="address" required>
        </p>
        <p>
          <input class="w3-input w3-border" type="text" placeholder="Your Phone Number" name="phonenum" required>
        </p>
  
        <button type="submit" class="w3-button w3-block w3-black">Add Book </button>
      </form>
    </div>
    
    <div class="w3-col s4 w3-justify">
      <h4>Note</h4>
      <p><i class="fa fa-fw fa-map-marker"></i> PT Company </p>
      <p><i class="fa fa-fw fa-phone"></i> 0967 439 679 </p>
      <p><i class="fa fa-fw fa-envelope"></i> PTBook.support@gmail.com</p>
      <h4>We accept</h4>
      <p><i class="fa fa-fw fa-credit-card"></i> Credit Card</p>
      <br>
      <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
      <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
      <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
      <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
      <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
    </div>
  </div>
</footer>

<div class="w3-black w3-center w3-padding-24"><!-- Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">DucThang0205</a> --></div>
<!-- End page content -->

</div>
